<nav class="navbar">
    <div class="navbar-container">
      <!-- Image logo instead of text -->
      <a href="#" class="logo">
        <img src="assets/Logo.png" alt="DoConnect Logo" class="logo-img">
      </a>
      
      <ul class="navbar-links">
        <!-- Conditional Menu Items for Logged-In User -->
        <li *ngIf="loggedIn"><a href="/home">Home</a></li>
        <li *ngIf="loggedIn"><a href="/question">Questions</a></li>
        <li *ngIf="loggedIn"><a href="/answers">Answers</a></li>
        <li *ngIf="loggedIn"><a href="/myposts">My Posts</a></li>
        <li *ngIf="loggedIn"><a href="/login">Log Out</a></li>
  
        <!-- Menu Items for Non-Logged-In Users -->
        <li *ngIf="!loggedIn"><a href="/login">Login</a></li>
        <li *ngIf="!loggedIn"><a href="/register">Register</a></li>
      </ul>
      
      <!-- Hamburger Menu for Mobile Devices -->
      <div class="hamburger-menu" id="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
  